.calculator {
  margin: 110px 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 15px 0 0 0;
}

.calculator__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

.calculator__subtitle {
  font-size: 18px;
  color: #fff;
}

.form__range {
  width: 520px;
  margin: 0 0 30px 0;
  padding: 10px;
}

.form-calc {
  display: flex;
  margin: 30px 0 0 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.form__label {
  font-size: 18px;
  color: #fff;
  margin: 0 0 10px 0;
}

.form__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 10px 60px 0 0;
  justify-content: center;
}

.form__input {
  width: 330px;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 0 0 20px;
}

.form__input::placeholder {
  color: #b1b1b1;
}

.form__control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__control-plus {
  max-width: 30px;
  max-height: 30px;
  margin: 0 0 0 7px;
  cursor: pointer;
}

.form__control-minus {
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  margin: 0 7px 0 0;
}

.form__container-lamp {
  margin: 0;
}

.calculator__summa {
  font-size: 20px;
  margin: 0;
  color: #fff;
  margin: 37px 200px 30px 0;
}

.calculator__button {
  margin: 30px 0 0 0;
  border: none;
  border-radius: 25px;
  padding: 7px 70px;
  color: #2c2c2c;
  font-weight: 500;
  cursor: pointer;
}

.form__type {
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  color: #b1b1b1;
  font-size: 16px;
}

.form__range-container {
  display: flex;
  font-size: 20px;
  color: #fff;
}

.form__count {
  margin: 0 20px 0 5px;
  width: 7px;
}
