@keyframes popupAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  background-color: #2a2c2f;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.page_overflow {
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1010px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  max-width: 1210px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 1010px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 680px;
    padding: 0 10px;
  }
}

.logo__image-header {
  max-height: 44px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .logo__image-header {
    max-height: 36px;
  }
}

@media screen and (max-width: 768px) {
  .logo__image-header {
    max-height: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .logo_place_header {
    max-width: 380px;
    font-size: 16px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    font-size: 14px;
    padding: 0;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 871px) {
  .header__navigation {
    display: none;
  }
}

.header__burger {
  background: url("images/menu-hamburger-white.svg") 50%;
  background-size: 22px;
  object-fit: cover;
  width: 22px;
  height: 22px;
  border: none;
  display: none;
}

@media screen and (max-width: 871px) {
  .header__burger {
    display: flex;
  }
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 1280px) {
  .header__link {
    font-size: 16px;
    margin: 0 15px 0 0;
  }
}

.header__link:hover {
  opacity: 0.7;
}

.button {
  background-color: #0084ff;
  padding: 7px 31px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.header__url {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .button_header {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.button_header {
  margin: 0 0 0 30px;
}

@media screen and (max-width: 1280px) {
  .button_header {
    margin: 0 0 0 10px;
  }
}

.button_header:hover {
  opacity: 0.9;
}

.lead {
  margin: 115px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

@media screen and (max-width: 1280px) {
  .lead {
    padding: 0 25px;
    gap: 45px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
}

.lead__text {
  max-width: 500px;
}

@media screen and (max-width: 1280px) {
  .lead__text {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .lead__text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
}

.lead__title {
  color: #fff;
  max-width: 562px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .lead__title {
    font-size: 38px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    max-width: 470px;
    display: flex;
    flex-direction: column;
  }
}

.lead__subtitle {
  color: #fff;
  max-width: 441px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 100%;
  margin: 24px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .lead__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 390px) {
  .lead__subtitle {
    max-width: 340px;
    text-align: center;
  }
}

.lead__ilustration {
  border-radius: 220px;
}

@media screen and (max-width: 1280px) {
  .lead__ilustration {
    height: 350px;
    width: 450px;
    object-fit: cover;
    border-radius: 180px;
  }
}

@media screen and (max-width: 768px) {
  .lead__ilustration {
    height: 250px;
    width: 290px;
    object-fit: fill;
  }
}

.lead__span {
  color: #40a4ff;
}

.trust {
  margin: 140px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .trust {
    margin: 100px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .trust {
    margin: 60px 0 0 0;
  }
}

.trust__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .trust__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .trust__title {
    font-size: 24px;
  }
}

.cards {
  margin: 90px auto 0px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 929px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 70px auto 0 auto;
  }
}

@media screen and (max-width: 890px) {
  .cards {
    margin: 70px auto 0 auto;
    gap: 25px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 40px auto 0 auto;
  }
}

.card {
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 890px) {
  .card {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 370px;
  }
}

.card__nubmer {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #40a4ff;
}

@media screen and (max-width: 1280px) {
  .card__nubmer {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 768px) {
  .card__nubmer {
    font-size: 20px;
    line-height: 22px;
  }
}

.card__title {
  margin: 0;
  max-width: 448px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .card__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 22px;
  }
}

.card__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  max-width: 448px;
}

@media screen and (max-width: 1280px) {
  .card__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 370px;
  }
}

@media screen and (max-width: 890px) {
  .card__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 470px;
  }
}

@media screen and (max-width: 768px) {
  .card__description {
    font-size: 16px;
    line-height: 18px;
    max-width: 230px;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  margin: 150px 0 0 0;
}

@media screen and (max-width: 890px) {
  .project {
    margin: 75px 0 0 0;
  }
}

.project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 60px 0;
}

@media screen and (max-width: 768px) {
  .project__title {
    font-size: 24px;
    margin: 0 0 40px 0;
  }
}

.project__items {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .project__items {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .project__items {
    max-width: 450px;
    flex-direction: column;
  }
}

.project__item {
  margin: 0;
  padding: 0;
  align-self: center;
}

.project__image {
  width: 333px;
  height: 260px;
  border-radius: 50px;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .project__image {
    max-width: 100%;
    max-height: 300px;
  }
}

.reviews {
  margin: 110px auto 0 auto;
  max-width: 890px;
}

.reviews__span {
  color: #40a4ff;
  font-weight: 600;
}

@media screen and (max-width: 879px) {
  .reviews {
    margin: 75px auto 0 auto;
    max-width: 780px;
  }
}

.reviews__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .reviews__title {
    font-size: 24px;
  }
}

.reviews__subtitle {
  margin: 7px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .reviews__subtitle {
    font-size: 16px;
  }
}

.elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 55px auto 0 auto;
  align-items: center;
  gap: 40px;
  padding: 0;
}

@media screen and (max-width: 820px) {
  .elements {
    max-width: 780px;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 250px;
  }
}

.element {
  max-width: 908px;
  border: 1px solid #fff;
  border-radius: 110px;
  display: flex;
  padding: 15px;
  align-items: center;
}

@media screen and (max-width: 890px) {
  .element {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    padding: 25px 15px 25px 20px;
  }
}

.element__text {
  width: 80%;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 890px) {
  .element__text {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    gap: 15px;
  }
}

.element__image {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
}

@media screen and (max-width: 890px) {
  .element__image {
    width: 90px;
    height: 90px;
  }
}

.element__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 890px) {
  .element__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.element__block-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.element__block-category {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #a3a3a3;
  opacity: 0.7;
  margin: 0;
}

@media screen and (max-width: 820px) {
  .element__block-category {
    max-width: 350px;
    font-size: 14px;
    text-align: center;
  }
}

.element__description {
  max-width: 700px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 820px) {
  .element__description {
    max-width: 100%;
    font-size: 14px;
    margin: 0;
    font-style: italic;
    text-align: start;
    letter-spacing: 0.5px;
  }
}

.footer {
  padding: 170px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 1010px;
    padding: 170px 20px 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 120px 20px 50px 20px;
  }
}

.logo__image-footer {
  max-height: 35px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .logo__image-footer {
    max-height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .logo__image-footer {
    max-height: 34px;
  }
}

.footer__items {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  max-width: 375px;
  align-items: center;
  margin: 5px 0 0 0;
}

.footer__image {
  height: 30px;
  width: 30px;
}

.footer__image:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .footer__image {
    height: 25px;
    width: 25px;
  }
}

.footer__connect {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__contacts-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .footer__contacts-title {
    font-size: 18px;
  }
}

.footer__connect {
  padding: 0;
  list-style: none;
  margin: 10px 0 0 0;
}

.footer__url {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.footer__url-phone {
  text-decoration: none;
  color: #fff;
}

.footer__url-phone:hover {
  opacity: 0.8;
}

.footer__connect-city {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .footer__connect-city {
    font-size: 16px;
  }
}

.footer__connect-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.button_footer {
  font-size: 14px;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1280px) {
  .footer__connect-phone {
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .button_footer {
    font-size: 16px;
    padding: 7px 15px;
  }
}

.button_footer:hover {
  opacity: 0.8;
}

.popup {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  display: none;
  opacity: 0;
  animation: popupAnimation 0.5s ease-in-out;
}

.popup_opened {
  display: flex;
  opacity: 1;
  position: fixed;
}

.popup__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__navigation-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.popup__url {
  margin: 20px 0;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .popup__url {
    font-size: 36px;
    line-height: 38px;
  }
}

.popup__close-button {
  background: url("images/Close.svg") 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  object-fit: cover;
  height: 32px;
  width: 32px;
}
