.form__control_button {
  cursor: pointer;
  border: none;
  background: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .form__control_button {
    max-width: 400px;
    width: 28px;
    height: 28px;
  }
}
