.element__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 890px) {
  .element__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}