.footer__connect-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .footer__connect-phone {
    font-size: 16px;
  }
}