.form__subtitle {
  font-size: 18px;
  color: #fff;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 768px) {
  .form__subtitle {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
  }
}
