.calculator {
  margin: 110px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 15px 0 0 0;
  max-width: 95%;
  filter: blur(10px);
}

@media screen and (max-width: 1280px) {
  .calculator {
    max-width: 600px;
    margin: 110px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .calculator {
    max-width: 300px;
    margin: 110px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 25px 0;
  }
}
